<div class="container px-8 py-16 mx-auto lg:px-12 xl:max-w-7xl">
    <h1 class="mb-8 text-4xl font-title">Homepage currently being developed.</h1>
    <h3 class="mb-4 text-slate-400">Try these links in the meantime:</h3>
    <div class="prose prose-a:text-primary hover:prose-a:underline prose-a:no-underline">
        <ul>
            <li><a href="/patients-visitors">Patients & Visitors</a></li>
            <li><a href="/locations">Find a Locations</a></li>
            <li><a href="/services">Browse Services</a></li>
            <li><a href="/doctors">Search Doctors & Staff</a></li>
            <li><a href="/blog">Recent Articles</a></li>
            <li><a href="/cp">Admin Panel</a></li>
        </ul>
    </div>
</div>