{{ partial:section }}
    <h1 class="mb-8 text-xl font-bold sm:text-7xl font-title text-primary">Oops! Page not found.</h1>
    <h3 class="mb-4">This page has moved or doesn't exist. Try these links:</h3>
    <div class="prose prose-a:text-primary hover:prose-a:underline prose-a:no-underline">
        <ul>
            <li><a href="/">Homepage</a></li>
            <li><a href="/patients-visitors">Patients & Visitors</a></li>
            <li><a href="/locations">Find a Locations</a></li>
            <li><a href="/services">Browse Services</a></li>
            <li><a href="/doctors">Search Doctors & Staff</a></li>
            <li><a href="/blog">Recent Articles</a></li>
        </ul>
    </div>
{{ /partial:section }}