<div class="fill-parent">
    {{ if image }}
        {{# {{ blur_hash:image class="object-cover h-full min-w-full fill-parent" style="aspect-ratio: {image:width} / {image:height}; object-position: {image:focus_css};" }} #}}
        <img src="{{ image:url }}" alt="{{ image:alt }}"
            style="aspect-ratio: {{ image:width }} / {{ image:height }}; object-position: {{ image:focus_css }};"
            class="object-cover h-full min-w-full transition-all fill-parent {{ class }}">
    {{ /if }}
</div>