<div>
    <label class="flex items-center w-full mb-4 border-b group border-slate-400">
        <input type="text" wire:model.live.debounce.20ms="query" placeholder="Search"
            class="w-full py-4 leading-7 bg-transparent border-none">
        <a href="#"
            class="flex items-center gap-2 px-4 py-4 -mx-px text-sm leading-6 text-slate-400 group-focus-within:text-primary hocus:text-primary">
            <svg class="w-6 h-6 left-px" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
                stroke-width="1.5" stroke="currentColor" aria-hidden="true">
                <path stroke-linecap="round" stroke-linejoin="round"
                    d="M21 21l-5.197-5.197m0 0A7.5 7.5 0 105.196 5.196a7.5 7.5 0 0010.607 10.607z">
                </path>
            </svg> </a>
    </label>
</div>