{{# @format false #}}

{{
    sizes = [
        'lg' => 'text-4xl md:text-5xl lg:text-6xl lg:leading-tight md:leading-tight leading-tight',
        'md' => 'text-3xl md:text-4xl lg:text-5xl lg:leading-tight md:leading-normal leading-normal',
        'sm' => 'text-2xl md:text-3xl lg:text-4xl lg:leading-normal',
    ];
    size_class = details:size ? sizes[details:size] : (size ? sizes[size] : sizes['md']);
}}

<{{ details:title_tag ?? 'h3' }} class="{{ size_class }} mb-8 last:mb-0  font-title text-{{ details:align_text }}">
    {{ if title_text }}
        {{ title_text }}
    {{ else }}
        {{ slot }}
    {{ /if }}
</{{ details:title_tag ?? 'h3' }}>