{{# @format false #}}

{{ partial:section style="padding-bottom: 0" }}
    {{ partial:layout/cols }}
        {{ partial:layout/col class="self-center lg:w-1/2" }}
            {{ partial:title }}
                Compassionate Immigration
                Lawyers
            {{ /partial:title }}
            <p class="mb-8 text-lg leading-relaxed">Compassionate Immigration
                Lawyers
                Let our team of expert immigration lawyers be your one-stop destination for all your immigration and
                visa needs.
                Immigration Services</p>
            {{ partial:content/btn style="primary" size="lg" }}
                Immigration Services
            {{ /partial:content/btn }}
        {{ /partial:layout/col }}
        {{ partial:layout/col class="lg:w-1/2" }}
            <img src="/assets/masthead.png" alt="">
        {{ /partial:layout/col }}
    {{ /partial:layout/cols }}
{{ /partial:section }}

{{ partial:layout/section sectionclass="bg-primary text-white text-center" sectionsize="sm" }}
    <div class="bg-center bg-cover opacity-50 fill-parent mix-blend-multiply grayscale"
    style="background-image: url(/assets/flags.jpeg)"></div>
    {{ partial:layout/container }}
        {{ partial:title size="sm" }}
            Your Passport to a Secure Future: <br>
            Immigration Law, Simplified.
        {{ /partial:title }}
    {{ /partial:layout/container }}
{{ /partial:layout/section }}

{{
    touts = [
        "Complete Online Form" => 'Begin your immigration journey with our friendly <a href="#" class="text-primary">online form</a>.',
        "Schedule Consultation" => 'Our lawyers provide clarity on your path ahead. <a href="#" class="text-primary">Schedule meeting</a>.',
        "Guided Support" => 'Your journey, our expertise. Our lawyers are with you each step.',
    ];
}}

{{ partial:section sectionclass="text-center" }}
    {{ partial:title size="sm" }}
        How It Works
    {{ /partial:title }}
    {{ partial:layout/cols }}
        {{ foreach:touts as="key|value" }}
            {{ partial:layout/col class="mb-8 lg:w-1/3" }}
            <div class="flex justify-center">
                <div class="w-12 h-12 mb-8 text-white rounded-full bg-primary">
                    <div class="flex flex-col items-center justify-center text-2xl font-bold fill-parent">{{ index + 1 }}</div>
                </div>
            </div>
            <div class="mb-8 text-xl font-title">{{ key }}</div>
            <div class="text-lg">{{ value }}</div>
            {{ /partial:layout/col }}
        {{ /foreach:touts }}
    {{ /partial:layout/cols }}
{{ /partial:section }}

{{ partial:layout/section sectionclass="bg-primary text-white text-center" }}
    <div class="bg-center bg-cover opacity-60 fill-parent mix-blend-multiply grayscale"
        style="background-image: url(/assets/liberty.jpeg)"></div>
    {{ partial:layout/container }}
        {{ partial:title size="sm" }}
            We believe in the American Dream. We are dedicated to making it a reality for our clients, navigating the
            complexities of the immigration process with legal expertise, integrity, and an unwavering commitment.
        {{ /partial:title }}
        {{ partial:content/btn style="white" size="lg" }}
            <b>Get Started</b>
        {{ /partial:content/btn }}
    {{ /partial:layout/container }}
{{ /partial:layout/section }}