{{ partial:section sectionsize="none" class="mb-20" }}
    <div class="flex">
        <div class="w-1/2 bg-center bg-cover" style="background-image: url(/assets/smile.jpeg)">
        </div>

        <div class="w-1/2 p-16 bg-gray-50">
            {{ partial:partials/title size="sm" }}
                Passport to a Secure Future: Simplified.
            {{ /partial:partials/title }}
            <div class="mb-8 leading-relaxed">
                We believe in the American Dream and are dedicated to making it a reality for our clients, navigating
                the complexities of the immigration process with expertise, integrity, and an unwavering commitment to
                our clients’ success.
            </div>
            {{ partial:partials/content/btn size="normal" style="primary" }}
                Schedule Consultation
            {{ /partial:partials/content/btn }}
        </div>
    </div>
{{ /partial:section }}

{{ partial:section sectionclass="bg-gradient-to-br from-primary to-primary-600 text-secondary-200" }}
    // "process"
{{ /partial:section }}

{{ partial:section sectionclass="bg-gray-50" }}
    // news
{{ /partial:section }}

{{ partial:section }}
    // form
{{ /partial:section }}

{{ partial:section sectionclass="bg-primary-900 text-gray-400 font-light" }}
    // footer
{{ /partial:section }}