{{# @format false #}}

{{?
$css = [
    'Info' => 'text-sky-900 bg-sky-100 border-sky-500 ',
    'Warning' => 'text-amber-900 bg-amber-100 border-amber-500 ',
    'Danger' => 'text-red-900 bg-red-100 border-red-500 ',
];
$icon_css = 'w-8 h-8 mr-4';
?}}

<div class="py-6 px-5 border-t-4 my-12 {{ css[notice_type] }}" role="alert">
    <div class="flex">
      <div class="py-1">
        {{ if notice_type == 'Info' }}
        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="{{ icon_css }} text-sky-500">
          <path stroke-linecap="round" stroke-linejoin="round" d="M11.25 11.25l.041-.02a.75.75 0 011.063.852l-.708 2.836a.75.75 0 001.063.853l.041-.021M21 12a9 9 0 11-18 0 9 9 0 0118 0zm-9-3.75h.008v.008H12V8.25z" />
        </svg>
        {{ /if }}
        {{ if notice_type == 'Warning' }}
        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="{{ icon_css }} text-amber-500">
          <path stroke-linecap="round" stroke-linejoin="round" d="M12 9v3.75m-9.303 3.376c-.866 1.5.217 3.374 1.948 3.374h14.71c1.73 0 2.813-1.874 1.948-3.374L13.949 3.378c-.866-1.5-3.032-1.5-3.898 0L2.697 16.126zM12 15.75h.007v.008H12v-.008z" />
        </svg>
        {{ /if }}
        {{ if notice_type == 'Danger' }}
        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="{{ icon_css }} text-red-500">
          <path stroke-linecap="round" stroke-linejoin="round" d="M12 9v3.75m9-.75a9 9 0 11-18 0 9 9 0 0118 0zm-9 3.75h.008v.008H12v-.008z" />
        </svg>
        {{ /if }}
      </div>
      <div>
        <h4 class="mb-2 text-xl font-bold">{{ title }}</h4>
        <div class="pb-2">
            {{ content }}
        </div>
      </div>
    </div>
  </div>