<x-section>
    <x-container>
        <div class="flex justify-center">
            <div class="xl:w-2/3 lg:w-3/4">
                <div class="mb-8 prose-lg md:prose-2xl">
                    {{ content }}
                </div>
                <div class="flex items-center">
                    <div class="w-[6rem] h-[6rem]">
                        <img src="{{ image:url }}" alt="{{ image:alt }}"
                            style="aspect-ratio: {{ image:width }} / {{ image:height }}; object-position: {{ image:focus_css }};"
                            class="absolute object-cover h-full min-w-full ">
                    </div>
                    <div class="pl-8">
                        <h5 class="mb-2 text-lg font-bold">{{ author }}</h5>
                        <h6 class="text-sm text-gray-500">{{ author_title }}</h6>
                    </div>
                </div>
            </div>
        </div>
    </x-container>
</x-section>