{{ partial:block }}
    <x-section class="side-by-side">
        <x-container>
            <div
                class="flex {{ !image_on_left ?= 'flex-row-reverse' }} flex-wrap gap-8 -mx-4 lg:gap-12 xl:gap-20 sm:mx-0 lg:flex-nowrap">
                <div class="w-full rounded lg:w-1/2 lg:h-auto min-h-[12rem] sm:min-h-[18rem] md:min-h-[24rem] h-full">
                    <div class="fill-parent">
                        <div class="-mt-8 -ml-8 rounded fill-parent bg-primary-50"></div>
                        {{ partial:partials/img }}
                    </div>
                </div>
                <div class="w-full px-4 sm:px-0 lg:py-24 lg:w-1/2">
                    {{ partial:partials/title }}
                    <div class="text-gray-500 sm:text-lg">{{ content }}</div>
                    {{ partial:partials/buttons }}
                </div>
            </div>
        </x-container>
    </x-section>
{{ /partial:block }}