<div>

    <div class="flex flex-wrap -mx-4">
        <div class="w-full px-4 md:w-1/2">
            <label for="655dfd42076f9" class="block mb-6">
                <h4 class="text-xs leading-6 text-slate-900">First name</h4>
                <span class="flex items-center w-full border-b group border-slate-400">
                    <input id="655dfd42076f9" type="text" placeholder="John"
                        class="w-full py-2 leading-6 bg-transparent">
                </span>
            </label>
        </div>
        <div class="w-full px-4 md:w-1/2">
            <label for="655dfd4207e86" class="block mb-6">
                <h4 class="text-xs leading-6 text-slate-900">Last name</h4>
                <span class="flex items-center w-full border-b group border-slate-400">
                    <input id="655dfd4207e86" type="text" placeholder="Doe"
                        class="w-full py-2 leading-6 bg-transparent">
                </span>
            </label>
        </div>
        <div class="w-full px-4 md:w-1/2">
            <label for="655dfd42081bb" class="block mb-6">
                <h4 class="text-xs leading-6 text-slate-900">Phone</h4>
                <span class="flex items-center w-full border-b group border-slate-400">
                    <input id="655dfd42081bb" type="text" placeholder="(555) 555-5555"
                        class="w-full py-2 leading-6 bg-transparent">
                </span>
            </label>
        </div>
        <div class="w-full px-4 md:w-1/2">
            <label for="655dfd42084c3" class="block mb-6">
                <h4 class="text-xs leading-6 text-slate-900">Email</h4>
                <span class="flex items-center w-full border-b group border-slate-400">
                    <input id="655dfd42084c3" type="text" placeholder="email@example.com"
                        class="w-full py-2 leading-6 bg-transparent">
                </span>
            </label>
        </div>
        <div class="w-full px-4 md:w-1/2">
            <label for="655dfd4208797" class="block mb-6">
                <h4 class="text-xs leading-6 text-slate-900">Select location(s)
                </h4>
                <span class="flex items-center w-full border-b group border-slate-400">
                    <input id="655dfd4208797" type="text" placeholder="Select location(s)"
                        class="w-full py-2 leading-6 bg-transparent">
                    <a href="#"
                        class="flex items-center gap-2 px-4 py-2 -mx-4 text-sm leading-6 text-slate-400 group-focus-within:text-primary hocus:text-primary">
                        <svg class="w-5 h-5" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
                            stroke-width="1.5" stroke="currentColor" aria-hidden="true">
                            <path stroke-linecap="round" stroke-linejoin="round"
                                d="M21 21l-5.197-5.197m0 0A7.5 7.5 0 105.196 5.196a7.5 7.5 0 0010.607 10.607z">
                            </path>
                        </svg> </a>
                    <div style="max-height: 280px"
                        class="absolute left-0 z-10 hidden w-full overflow-scroll bg-white border shadow-lg pointer-events-none top-full border-slate-400 group-focus-within:pointer-events-auto group-focus-within:block">

                    </div>
                </span>
            </label>
        </div>
        <div class="w-full px-4 md:w-1/2">
            <label for="655dfd420a369" class="block mb-6">
                <h4 class="text-xs leading-6 text-slate-900">Insurance carrier
                </h4>
                <span class="flex items-center w-full border-b group border-slate-400">
                    <input id="655dfd420a369" type="text" placeholder="Allstate"
                        class="w-full py-2 leading-6 bg-transparent">
                </span>
            </label>
        </div>
        <div class="w-full px-4 md:w-1/2">
            <label for="655dfd420a683" class="block mb-6">
                <h4 class="text-xs leading-6 text-slate-900">How did you hear
                    about us?</h4>
                <span class="flex items-center w-full border-b group border-slate-400">
                    <input id="655dfd420a683" type="text" placeholder="How did you hear about us?"
                        class="w-full py-2 leading-6 bg-transparent">
                </span>
            </label>
        </div>
    </div>
    <div class="flex mb-8">
        <label for="655dfd420bbd8" class="flex gap-3 py-1 leading-6 cursor-pointer group hover:underline">
            <span>
                <span>
                    <input type="checkbox" id="655dfd420bbd8" checked=""
                        class="w-6 h-6 border appearance-none cursor-pointer peer border-slate-400 checked:border-primary checked:bg-primary group-hover:border-primary">
                </span>
            </span>
            <span>Sign me up for future communication</span>
        </label>
    </div>
    <div class="flex">
        <a href="https://hhwf.placementlabs.com"
            class="flex items-center gap-4 px-8 py-4 text-lg text-white transition rounded-full group bg-primary hover:bg-primary-700">
            <span>Request Appointment</span>
            <svg class="w-6 h-6 transition group-hover:translate-x-2" xmlns="http://www.w3.org/2000/svg" fill="none"
                viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true">
                <path stroke-linecap="round" stroke-linejoin="round" d="M17.25 8.25L21 12m0 0l-3.75 3.75M21 12H3">
                </path>
            </svg>
        </a>
    </div>
</div>