{{# @format false #}}

{{?  

    $is_light = hexdec(substr($color,0,2))+hexdec(substr($color,2,2))+hexdec(substr($color,4,2)) > 381;
    $hover = 'hover:shadow-lg';
    $base = 'inline-block no-underline last:mb-0 group rounded leading-normal mb-6 transition-all mr-2';
    $styles = [
        'primary' => "bg-primary-500 text-white $hover",
        'secondary' => "bg-secondary-500 text-white $hover",
        'white' => "bg-white text-primary $hover",
        'unstyled' => 'hover:text-primary font-medium',
    ];
    $sizes = [
        'sm' => 'py-1 px-3 sm:py-2 sm:px-6 text-sm',
        'normal' => 'py-3 px-5 sm:py-4 sm:px-8',
        'lg' => 'py-4 px-6 sm:py-6 sm:px-12 text-lg',
    ];
    $classes = implode(' ', [$base, $hover, $sizes['normal'], $is_light ? '' : 'text-white']);
?}}

{{ bg = color }}
<a href="{{ url ?? '#' }}" class="
    {{ classes }}
    bg-[{{ bg }}]
    hover:bg-[{{ bg | shades:tint:10 }}]
    {{ is_light ? ('text-[' + {bg | shades:shade:90} + ']') : 'text-white' }}
    ">
    {{ if style == 'primary' }}
        <span class="rounded opacity-50 fill-parent to-primary-600 bg-gradient-to-b from-transparent"></span>
    {{ /if }}
    <span class="flex items-center">
        {{ if button_text }}
            <span>{{ button_text }}</span>
        {{ else }}
            <span>{{ slot }}</span>
        {{ /if }}
        {{ if icon }}
            <span class="pl-3 transition-all group-hover:translate-x-[0.15rem]">
                {{ heroicon:solid icon="{details.icon | replace('-small', '')}" | dump }}
                {{# {{ icon | replace('<svg ', '<svg class="w-5 h-5" ') }} #}}
            </span>
        {{ /if }}
    </span>
</a>