<section class="py-16 bg-center bg-cover md:py-24 lg:py-28" style="padding-bottom: 0;">
    <div class="container px-8 mx-auto lg:px-12 xl:max-w-7xl">
        <div class="flex flex-wrap -mx-8">
            <div class="w-full px-8">
                <div class="flex gap-2 mb-6 md:-mt-6">
                    <div>{{ date }}</div>
                    <div>•</div>
                    <div>{{ content | bard_text | read_time(180) }} min read</div>
                </div>
                <div
                    class="mr-4 prose md:prose-img:my-16 prose-headings:leading-snug prose-a:text-sky-700 lg:prose-lg xl:prose-xl max-w-none prose-headings:font-serif prose-headings:font-medium">
                    <h1>{{ title }}</h1>
                </div>
            </div>
            <div class="w-full px-8 pt-8 lg:w-2/3">
                <div
                    class="mr-4 prose md:prose-img:my-16 prose-headings:leading-snug prose-a:text-sky-700 lg:prose-lg xl:prose-xl max-w-none prose-headings:font-serif prose-headings:font-medium">
                    {{ excerpt }}
                </div>
            </div>
        </div>
    </div>
</section>

<div class="my-12 xl:my-18 md:my-16">
    <div class="xl:container xl:mx-auto 2xl:px-32">
        <div class="h-[66vh] bg-primary-50">
            {{ partial:img }}
        </div>
    </div>
</div>


<section class="py-16 bg-center bg-cover md:py-24 lg:py-28" style="padding-top: 0;">
    <div class="container px-8 mx-auto lg:px-12 xl:max-w-7xl">
        <div class="flex flex-wrap justify-between -mx-8">
            <div class="w-full px-8 lg:w-2/3">
                {{ content }}
                    {{ if {partial:exists src="sets/{type}"} }}
                        {{ partial src="sets/{type}" }}
                    {{ else }}
                        {{ partial:render_view }}
                    {{ /if }}
                {{ /content }}
                <div class="py-16">
                    <h4 class="mb-2 text-xs text-slate-500">Tagged as:</h4>
                    <ul class="mb-8 text-xs">
                        <li class="inline-block mb-2 mr-1" x-data="{ hidden: false }" x-show="!hidden">
                            <a href="#"
                                class="flex items-center px-3 py-2 bg-transparent border rounded-full border-slate-500 text-slate-500 hocus:bg-white hocus:text-slate-800">
                                <span>News</span>
                            </a>
                        </li>
                        <li class="inline-block mb-2 mr-1" x-data="{ hidden: false }" x-show="!hidden">
                            <a href="#"
                                class="flex items-center px-3 py-2 bg-transparent border rounded-full border-slate-500 text-slate-500 hocus:bg-white hocus:text-slate-800">
                                <span>Article</span>
                            </a>
                        </li>
                        <li class="inline-block mb-2 mr-1" x-data="{ hidden: false }" x-show="!hidden">
                            <a href="#"
                                class="flex items-center px-3 py-2 bg-transparent border rounded-full border-slate-500 text-slate-500 hocus:bg-white hocus:text-slate-800">
                                <span>Blog</span>
                            </a>
                        </li>
                        <li class="inline-block mb-2 mr-1" x-data="{ hidden: false }" x-show="!hidden">
                            <a href="#"
                                class="flex items-center px-3 py-2 bg-transparent border rounded-full border-slate-500 text-slate-500 hocus:bg-white hocus:text-slate-800">
                                <span>Press Release</span>
                            </a>
                        </li>
                        <li class="inline-block mb-2 mr-1" x-data="{ hidden: false }" x-show="!hidden">
                            <a href="#"
                                class="flex items-center px-3 py-2 bg-transparent border rounded-full border-slate-500 text-slate-500 hocus:bg-white hocus:text-slate-800">
                                <span>Uncategorized</span>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="w-full px-8 lg:w-1/3">
                <div class="sticky top-0 pt-8 -mt-8">
                    <h4 class="pt-3 text-xs text-slate-500">Recent Articles</h4>
                    <ul>
                        {{ collection:blog limit="3" }}
                            <li class="my-8">
                                <h3>
                                    <a href="{{ url }}" class="flex gap-8 first:mt-0 group">
                                        <div class="w-full ">
                                            <div
                                                class="flex justify-between gap-4 py-2 mb-4 font-serif border-b sm:text-base decoration-slate-400 decoration-1 border-slate-400 group-hover:underline group-focus-within:underline">
                                                <span>{{ title | safe_truncate(65, '...') | smartypants }}</span>
                                                <div class="flex justify-end w-8 pr-2 -mt-1">
                                                    <svg class="w-8 h-8 transition group-hover:translate-x-2 group-focus:translate-x-2"
                                                        xmlns="http://www.w3.org/2000/svg" fill="none"
                                                        viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor"
                                                        aria-hidden="true">
                                                        <path stroke-linecap="round" stroke-linejoin="round"
                                                            d="M8.25 4.5l7.5 7.5-7.5 7.5"></path>
                                                    </svg>
                                                </div>
                                            </div>
                                            <div class="flex gap-1 text-xs text-slate-500">
                                                <div>{{ date }}</div>
                                                <div>•</div>
                                                <div>{{ content | bard_text | read_time(180) }} min read</div>
                                            </div>
                                        </div>
                                    </a>
                                </h3>
                            </li>
                        {{ /collection:blog }}
                        <li class="mb-12">
                            <h3>
                                <a href="/blog" class="flex gap-8 first:mt-0 group">
                                    <div class="w-full ">
                                        <div
                                            class="flex justify-between gap-4 py-2 mb-4 font-serif sm:text-base decoration-slate-400 decoration-1 border-slate-400 group-hover:underline group-focus-within:underline">
                                            <span>View more articles</span>
                                            <div class="flex justify-end w-8 pr-2 -mt-1">
                                                <svg class="w-8 h-8 transition group-hover:translate-x-2 group-focus:translate-x-2"
                                                    xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
                                                    stroke-width="1.5" stroke="currentColor" aria-hidden="true">
                                                    <path stroke-linecap="round" stroke-linejoin="round"
                                                        d="M8.25 4.5l7.5 7.5-7.5 7.5"></path>
                                                </svg>
                                            </div>
                                        </div>

                                    </div>
                                </a>
                            </h3>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>