<div class="container px-8 mx-auto lg:px-12 xl:max-w-7xl" id="">
    <div class="-mx-12">
        <div class="grid grid-cols-2">
            <div class="col-span-2 bg-primary-50 p-14">
                <div class="flex flex-wrap items-center -mx-8">
                    <div class="w-full px-8 -mt-2 xl:w-2/3">
                        <div>
                            <div
                                class="mr-4 prose md:prose-img:my-16 prose-headings:leading-tight prose-a:text-sky-700 lg:prose-lg xl:prose-xl max-w-none prose-headings:font-serif prose-headings:font-medium">
                                <h1>{{ hero_title_text ?? title }}</h1>
                            </div>
                        </div>
                    </div>
                    <div class="self-end w-full px-8 xl:w-1/3">

                    </div>
                </div>
            </div>
            <div class="row-span-3 bg-center bg-cover" style="background-image: url({{ image }})">
                <div class="fill-parent">

                </div>
            </div>
            {{ if eloqua_form_embed_code }}
                <a href="#request-appointment" class="row-span-2 text-white group p-14 bg-primary-900">
                    <div>
                        <div
                            class="mr-4 prose md:prose-img:my-16 prose-headings:leading-snug prose-a:text-sky-700 lg:prose-lg xl:prose-xl max-w-none prose-headings:font-serif prose-headings:font-medium prose-white prose-p:font-thin">
                            {{ hero_content }}
                                {{ if {partial:exists src="sets/{type}"} }}
                                    {{ partial src="sets/{type}" }}
                                {{ else }}
                                    {{ partial:render_view }}
                                {{ /if }}
                            {{ /hero_content }}
                        </div>
                    </div>
                    <div class="flex items-center justify-end pt-16">
                        <span
                            class="text-xs font-light transition transform translate-x-2 opacity-0 whitespace-nowrap group-hover:translate-x-0 group-hover:opacity-50">Request
                            an Appointment</span>
                        <svg class="w-12 h-12 transition group-hover:translate-x-2 group-focus:translate-x-2"
                            xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                            stroke="currentColor" aria-hidden="true">
                            <path stroke-linecap="round" stroke-linejoin="round"
                                d="M17.25 8.25L21 12m0 0l-3.75 3.75M21 12H3"></path>
                        </svg>
                    </div>
                </a>
            {{ else }}
                <div class="row-span-2 text-white group p-14 bg-primary-900">
                    <div>
                        <div
                            class="mr-4 prose prose-invert md:prose-img:my-16 prose-headings:leading-snug prose-a:text-sky-700 lg:prose-lg xl:prose-xl max-w-none prose-headings:font-serif prose-headings:font-[300] prose-white prose-p:font-thin">
                            {{ hero_content }}
                                {{ if type == "text" }}
                                    {{ text }}
                                {{ /if }}
                            {{ /hero_content }}
                        </div>
                    </div>
                    <div class="flex items-center justify-end pt-16">
                    </div>
                </div>
            {{ /if }}
            {{ if staff | length > 0 }}
                <a href="#doctors" class="py-8 text-xl bg-primary-50 group px-14">
                    <div class="flex items-center justify-between gap-16">
                        <span class="w-full">Meet Our Doctors</span>
                        <div class="flex items-center">

                            <svg class="w-12 h-12 transition group-hover:translate-x-2 group-focus:translate-x-2"
                                xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                                stroke="currentColor" aria-hidden="true">
                                <path stroke-linecap="round" stroke-linejoin="round"
                                    d="M17.25 8.25L21 12m0 0l-3.75 3.75M21 12H3"></path>
                            </svg>
                        </div>
                    </div>
                </a>
            {{ /if }}
        </div>
    </div>
</div>

{{ partial:section }}
    {{ content }}
        {{ if {partial:exists src="sets/{type}"} }}
            {{ partial src="sets/{type}" }}
        {{ else }}
            {{ partial:render_view }}
        {{ /if }}
    {{ /content }}
{{ /partial:section }}
{{ if show_child_services }}
    <div class="bg-primary-50">
        {{ partial:section }}
            <div class="flex justify-between mb-8">
                <div class="w-1/2">
                    {{ partial:prose }}
                        <h2>{{ child_services_title }}</h2>
                    {{ /partial:prose }}
                </div>
            </div>
            {{ partial:layout/cols }}
                {{ partial:layout/col class="lg:w-1/2" }}
                    {{ partial:prose }}
                        {{ child_services_text }}
                    {{ /partial:prose }}
                {{ /partial:layout/col }}
                {{ partial:layout/col class="lg:w-1/2" }}
                    <div class="flex justify-between">
                        <div class="w-full md:w-1/3">
                            <div
                                class="prose prose-a:font-normal prose-a:text-primary prose-a:no-underline prose-a:decoration-1 hover:prose-a:underline">
                                <ul>
                                    {{ nav :from="slug" }}
                                        {{ unless no_results }}
                                            <li>
                                                <a href="{{ url }}">{{ title }}</a>
                                            </li>
                                        {{ /unless }}
                                    {{ /nav }}
                                </ul>
                            </div>
                        </div>
                    </div>
                {{ /partial:layout/col }}
            {{ /partial:layout/cols }}
        {{ /partial:section }}
    </div>
{{ /if }}
<div id="doctors">
    {{ partial:section }}
        {{? $gap = 2 ?}}
        {{ partial:prose class="mb-8" }}
            <h2>Meet Your {{ title }} Team</h2>
            <h4>{{ title }} Providers</h4>
        {{ /partial:prose }}
        <ul class="-mx-{{ gap }} mb-16 flex flex-wrap">
            {{ staff }}
                <li class="px-{{ gap }} w-full sm:w-1/2 md:w-1/3 lg:w-1/4">
                    <a href="{{ url }}" class="mb-{{ gap * 2 }} group flex w-full items-center">
                        <div class="w-1/4">
                            <div class="block bg-cover border bg-primary-50 border-slate-400 group-hover:border-primary"
                                style="padding-top: 100%; background-position: center top; background-image: url({{ image }})">
                            </div>
                        </div>
                        <div class="p-{{ gap * 2 }} block w-3/4 text-sm group-hover:text-primary" href="{{ url }}">
                            {{ full_name }}
                            <div class="text-xs text-slate-500">
                                {{ primary_specialty.title }} Provider
                            </div>
                        </div>
                    </a>
                </li>
            {{ /staff }}
        </ul>
    {{ /partial:section }}
</div>