<section class="py-16 bg-center bg-cover md:py-24 lg:py-28 bg-primary-50">
    <div class="container px-8 mx-auto lg:px-12 xl:max-w-7xl">
        <div class="flex flex-wrap justify-between -mx-8" gap="8">
            <div class="w-full px-8 lg:w-1/2" gap="8">
                <div
                    class="mb-12 mr-4 prose md:prose-img:my-16 prose-headings:leading-snug prose-a:text-sky-700 lg:prose-lg xl:prose-xl max-w-none prose-headings:font-serif prose-headings:font-medium">
                    <h2>Stay connected with<br>the community.</h2>
                    <p>Keep up with the latest news, events, and announcements from our team at Halifax Health
                        and our
                        community.</p>
                    <div class="flex items-center gap-6 pt-6 text-base not-prose">
                        <div>

                            <a href="https://hhwf.placementlabs.com/blog"
                                class="flex items-center gap-4 px-8 py-4 text-lg text-white transition rounded-full group bg-primary hover:bg-primary-700">
                                <span>All Articles</span>
                                <svg class="w-6 h-6 transition group-hover:translate-x-2"
                                    xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
                                    stroke-width="1.5" stroke="currentColor" aria-hidden="true">
                                    <path stroke-linecap="round" stroke-linejoin="round"
                                        d="M17.25 8.25L21 12m0 0l-3.75 3.75M21 12H3"></path>
                                </svg>
                            </a>
                        </div>
                    </div>
                </div>
                <div>
                    <h4 class="mb-2 text-xs text-slate-500">Popular topics:</h4>
                    <ul class="mb-8 text-xs">
                        <li class="inline-block mb-2 mr-1" x-data="{ hidden: false }" x-show="!hidden">
                            <a href="#"
                                class="flex items-center px-3 py-2 bg-transparent border rounded-full border-slate-500 text-slate-500 hocus:bg-white hocus:text-slate-800">
                                <span>News</span>
                            </a>
                        </li>
                        <li class="inline-block mb-2 mr-1" x-data="{ hidden: false }" x-show="!hidden">
                            <a href="#"
                                class="flex items-center px-3 py-2 bg-transparent border rounded-full border-slate-500 text-slate-500 hocus:bg-white hocus:text-slate-800">
                                <span>Article</span>
                            </a>
                        </li>
                        <li class="inline-block mb-2 mr-1" x-data="{ hidden: false }" x-show="!hidden">
                            <a href="#"
                                class="flex items-center px-3 py-2 bg-transparent border rounded-full border-slate-500 text-slate-500 hocus:bg-white hocus:text-slate-800">
                                <span>Blog</span>
                            </a>
                        </li>
                        <li class="inline-block mb-2 mr-1" x-data="{ hidden: false }" x-show="!hidden">
                            <a href="#"
                                class="flex items-center px-3 py-2 bg-transparent border rounded-full border-slate-500 text-slate-500 hocus:bg-white hocus:text-slate-800">
                                <span>Event</span>
                            </a>
                        </li>
                        <li class="inline-block mb-2 mr-1" x-data="{ hidden: false }" x-show="!hidden">
                            <a href="#"
                                class="flex items-center px-3 py-2 bg-transparent border rounded-full border-slate-500 text-slate-500 hocus:bg-white hocus:text-slate-800">
                                <span>Podcast</span>
                            </a>
                        </li>
                        <li class="inline-block mb-2 mr-1" x-data="{ hidden: false }" x-show="!hidden">
                            <a href="#"
                                class="flex items-center px-3 py-2 bg-transparent border rounded-full border-slate-500 text-slate-500 hocus:bg-white hocus:text-slate-800">
                                <span>Press Release</span>
                            </a>
                        </li>
                        <li class="inline-block mb-2 mr-1" x-data="{ hidden: false }" x-show="!hidden">
                            <a href="#"
                                class="flex items-center px-3 py-2 bg-transparent border rounded-full border-slate-500 text-slate-500 hocus:bg-white hocus:text-slate-800">
                                <span>Uncategorized</span>
                            </a>
                        </li>
                        <li class="inline-block mb-2 mr-1" x-data="{ hidden: false }" x-show="!hidden">
                            <a href="#"
                                class="flex items-center px-3 py-2 bg-transparent border rounded-full border-slate-500 text-slate-500 hocus:bg-white hocus:text-slate-800">
                                <span>Video</span>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="w-full px-8 lg:w-1/2" gap="8">
                <ul class="grid grid-rows-3 gap-6">
                    <li class="grid grid-cols-12 row-span-1 gap-6">
                        <a href="https://hhwf.placementlabs.com/blog/show"
                            class="col-span-5 overflow-hidden bg-center bg-cover border group border-slate-400 bg-primary-50"
                            style="background-image: url(https://hhwf.placementlabs.com/assets/img/andrea.jpg)">
                            <div class="transition duration-300 bg-center bg-cover fill-parent group-hover:scale-110"
                                style="background-image: url(https://hhwf.placementlabs.com/assets/img/andrea.jpg)">
                            </div>
                        </a>
                        <div class="col-span-7 py-2">
                            <div class="flex gap-1 mb-4 text-xs text-slate-500">
                                <div>October 25th, 2023</div>
                                <div>•</div>
                                <div>20 min read</div>
                            </div>
                            <div
                                class="mb-4 prose-sm prose prose-headings:font-serif prose-headings:font-normal prose-a:no-underline hover:prose-a:underline">
                                <h3>
                                    <a href="https://hhwf.placementlabs.com/blog/show"
                                        title="Andrea Forster Named First Diabetes Navigator" class="block">Andrea
                                        Forster Named First Diabetes Navigator</a>
                                </h3>
                            </div>
                            <p class="mb-4 text-sm text-slate-500">The Lohman Diabetes Center for Diabetes and
                                Endocrinology at Halifax Health is p...</p>

                        </div>
                    </li>
                    <li class="grid grid-cols-12 row-span-1 gap-6">
                        <a href="https://hhwf.placementlabs.com/blog/show"
                            class="col-span-5 overflow-hidden bg-center bg-cover border group border-slate-400 bg-primary-50"
                            style="background-image: url(https://hhwf.placementlabs.com/assets/img/holdinghandsjpg.jpeg)">
                            <div class="transition duration-300 bg-center bg-cover fill-parent group-hover:scale-110"
                                style="background-image: url(https://hhwf.placementlabs.com/assets/img/holdinghandsjpg.jpeg)">
                            </div>
                        </a>
                        <div class="col-span-7 py-2">
                            <div class="flex gap-1 mb-4 text-xs text-slate-500">
                                <div>October 25th, 2023</div>
                                <div>•</div>
                                <div>17 min read</div>
                            </div>
                            <div
                                class="mb-4 prose-sm prose prose-headings:font-serif prose-headings:font-normal prose-a:no-underline hover:prose-a:underline">
                                <h3>
                                    <a href="https://hhwf.placementlabs.com/blog/show"
                                        title="Let's talk about colon health!" class="block">Let's talk about colon
                                        health!</a>
                                </h3>
                            </div>
                            <p class="mb-4 text-sm text-slate-500">Every March National Colorectal Cancer Awareness
                                Month spotlights this disease a...</p>

                        </div>
                    </li>
                    <li class="grid grid-cols-12 row-span-1 gap-6">
                        <a href="https://hhwf.placementlabs.com/blog/show"
                            class="col-span-5 overflow-hidden bg-center bg-cover border group border-slate-400 bg-primary-50"
                            style="background-image: url(https://hhwf.placementlabs.com/assets/img/kayak.jpg)">
                            <div class="transition duration-300 bg-center bg-cover fill-parent group-hover:scale-110"
                                style="background-image: url(https://hhwf.placementlabs.com/assets/img/kayak.jpg)">
                            </div>
                        </a>
                        <div class="col-span-7 py-2">
                            <div class="flex gap-1 mb-4 text-xs text-slate-500">
                                <div>October 25th, 2023</div>
                                <div>•</div>
                                <div>12 min read</div>
                            </div>
                            <div
                                class="mb-4 prose-sm prose prose-headings:font-serif prose-headings:font-normal prose-a:no-underline hover:prose-a:underline">
                                <h3>
                                    <a href="https://hhwf.placementlabs.com/blog/show"
                                        title="Halifax Health | Brooks Rehabilitation Community Programs"
                                        class="block">Halifax Health | Brooks Rehabilitation Community Programs</a>
                                </h3>
                            </div>
                            <p class="mb-4 text-sm text-slate-500">A variety of activities are located throughout
                                Volusia and Flagler counties and...</p>

                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>

<section class="hidden py-16 bg-center bg-cover md:py-24 lg:py-28 md:block">
    <div class="container px-8 mx-auto lg:px-12 xl:max-w-7xl">
        <div class="-mx-12">
            <div class="grid grid-cols-3">
                <div class="col-span-2 bg-primary-900 p-14">
                    <div class="max-w-xl pb-16">
                        <div>
                            <div
                                class="mr-4 prose md:prose-img:my-16 prose-headings:leading-snug prose-a:text-sky-700 lg:prose-lg xl:prose-xl max-w-none prose-headings:font-serif prose-headings:font-medium prose-white prose-p:font-thin">
                                <h3>Our Philosophy</h3>
                                <p>Halifax Health will ensure that those we serve are treated with courtesy and
                                    respect
                                    in a
                                    safe, compassionate, and professional environment.</p>
                                <p>Halifax Health will provide exemplary medical, emotional, and spiritual care for
                                    each
                                    of
                                    our patients and their families</p>
                            </div>

                        </div>
                    </div>
                </div>
                <div class="bg-center bg-cover p-14"
                    style="background-image: url(https://hhwf.placementlabs.com/assets/img/cancer.jpg)">
                </div>
                <div class="bg-primary-50 p-14">
                    <div class="prose ">
                        <h3>Our Mission</h3>
                        <p>To be the community healthcare leader through exceptional talent and superior patient
                            centered service delivered in a financially sustainable manner.</p>
                    </div>
                </div>
                <div class="bg-primary-100 p-14">
                    <div class="prose ">
                        <h3>Our Vision</h3>
                        <p>To develop talented teams dedicated to providing competent, accountable patient
                            centered
                            healthcare in a financially sustainable manner.</p>
                    </div>
                </div>
                <div class="bg-primary-50 p-14">
                    <div class="prose">
                        <h3>Our Values</h3>
                        <p>At Halifax Health we, cultivate a positive workplace where each team member is
                            valued,
                            respected, and has an opportunity for personal and professional growth.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<div class="py-16 bg-primary">
    <div class="container px-8 mx-auto lg:px-12 xl:max-w-7xl">
        <div class="flex flex-wrap items-center gap-16 sm:justify-center">
            <div class="w-full sm:w-auto">
                <h3 class="-mb-8 font-serif text-3xl text-white xl:mb-0">Ready to schedule an appointment online?</h3>
            </div>
            <div class="w-full sm:w-auto">
                <a href="https://hhwf.placementlabs.com/schedule"
                    class="flex items-center gap-4 px-8 py-4 text-lg text-white transition rounded-full group bg-slate-900">
                    Schedule Appointment
                </a>
            </div>
        </div>
    </div>
</div>


{{ partial:global/footer_links }}
<div class="py-8 text-xs bg-slate-950 text-slate-500">
    <div class="container px-8 mx-auto lg:px-12 xl:max-w-7xl">
        <div class="flex justify-between">
            <ul class="leading-5">
                <li class="mb-1">© Copyright 2023 Halifax Health. All Rights Reserved</li>
            </ul>
            <ul class="flex gap-2">
                <li><a href="#" class="hocus:text-slate-300 hocus:underline">Privacy Policy</a></li>
                <li>|</li>
                <li><a href="#" class="hocus:text-slate-300 hocus:underline">Terms of Use</a></li>
            </ul>
        </div>
    </div>
</div>