<header class="py-12 text-white bg-gray-900">
    <x-container>
        <div class="flex justify-between">
            <div>
                <img src="{{ site:logo }}" alt="">
            </div>
            <nav>
                <ul class="flex items-center">
                    {{ nav:main }}
                        <li>
                            <a href="{{ url }}">{{ title }}</a>
                            {{#
                                {{ if children }}
                                    <ul>
                                        {{ children }}
                                            <li><a href="{{ url }}">{{ title }}</a></li>
                                        {{ /children }}
                                    </ul>
                                {{ /if }}
                            #}}
                    {{ /nav:main }}
                </ul>
            </nav>
        </div>
    </x-container>
</header>