<header class="py-4 text-white bg-gray-900 sm:py-8">
    <x-container>
        <div class="flex items-center justify-between">
            <div>
                <a href="/" class="block w-[12rem] md:w-[18rem]">{{ site:logo_html }}</a>
            </div>
            <nav x-data="{open: false}" @click.outside="open = false">
                <button class="p-4 -m-4 lg:hidden" @click="open = true">
                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                        stroke="currentColor" class="w-6 h-6">
                        <path stroke-linecap="round" stroke-linejoin="round" d="M3.75 9h16.5m-16.5 6.75h16.5" />
                    </svg>
                </button>
                <ul class="absolute right-0 z-10 items-center hidden pb-4 bg-gray-900 lg:pb-0 whitespace-nowrap lg:flex lg:relative top-full"
                    :class="{'block': open, 'hidden': !open}">
                    {{ nav:main }}
                        <li>
                            <a href="{{ url }}" class="block px-5 py-4">{{ title }}</a>
                            {{#
                                {{ if children }}
                                    <ul>
                                        {{ children }}
                                            <li><a href="{{ url }}">{{ title }}</a></li>
                                        {{ /children }}
                                    </ul>
                                {{ /if }}
                            #}}
                    {{ /nav:main }}
                </ul>
            </nav>
        </div>
    </x-container>
</header>